
                            
<!Doctype html>
<html>
<head>
     <meta charset="UTF-8">
     <title>user data</title>
     	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<li><a href="/">Home</a></li>
<table>
  <tr>
<td>id</td>
<td>name</td>
<td>image</td>
<td>description</td>

  </tr> 
{{#each projectdata}}

  <tr>

      <td>{{this.id}}</td>
        <td>{{this.name}}</td>
         
         <td>{{this.description}}</td>   
 <td>{{this.image}}</td>
                   
                    <% if(row.image) {
                                                              <img src="./upload_images/<% row.image %>" alt="profile image" width="50">
                                                              <%  }%> 
                              <td>
                                            <a href="/editAproject/edit-form/{{this.id}}" class="btn btn-info btn-sm">Edit</a>
                                             <a href="/editAproject/delete/{{this.id}}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure ?')">Delete</a>
            </td>
  </tr>
{{/each}}
</table>

</body>		
</html>
	 
	 

	 